# Node modules
client/node_modules
client/.next/
server/node_modules
client/package-lock.json
server/package-lock.json
server/.env
node_modules
client/out




# Next.js build output
.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/server/public

# Dependency directories
bower_components

# environment
.env
.env.local

# Build directories
dist
build

# Misc
.DS_Store
/client/.DS_Store
